@model BlogPostViewModel

@{
    ViewBag.Title = "BlogPost";
}

<!-- Page Header -->
<header class="masthead" style="background-image: url('@Url.Content(Model.PhotoUrl)')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1>@Model.Title</h1>
                    <h2 class="subheading">@Model.Subtitle</h2>
                    <span class="meta">
                        Posted by
                        <a href="#">@Model.UserName</a>
                        on
                        @if (@Model.DateUpdated == null)
                        {
                            @Model.DateCreated
                        }
                        else
                        {
                            @Model.DateUpdated
                        }
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content -->
<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <p>@Html.Raw(Model.Body)</p>
            </div>
        </div>
    </div>
</article>

<!-- Comment Section -->
<div class="card card-outline-secondary my-4">
    <div class="card-header">
        Comment Section
    </div>
    <div class="card-body">
        @if (!Model.Comments.Any())
        {
            <p>No Comments yet.</p>
        }
        else
        {
            foreach (var comment in Model.Comments)
            {
                <p>@comment.Body</p>
                <small class="text-muted">Posted by @comment.User.UserName on @comment.DateCreated</small>
                <hr>
            }
        }

        <form method="post" action="@Url.Action("BlogPost","Blog",new {id=Model.Id, slug=Model.Slug})">
            @Html.TextBoxFor(blog => blog.NewComment, new { @class = "form-control", placeholder = "Type a comment here" })
            <button type="submit" class="btn btn-success">Save Comment</button>
        </form>
    </div>
</div>